body {
  font-family: Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #000;
  background-color: #f0efe9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 40px auto;
  width: 100%;
  max-width: 380px;
  min-width: 320px;
}